<h1>Profile for @user.full_name</h1>

<p>
  <strong>Image:</strong>
  <%= image_tag(@user.avatar_url.to_s) %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @user.slug %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.encrypted_password %>
</p>


<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', stories_path %>
