<h1>Stories</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Part</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td><%= story.part %></td>
        <td><%= story.author %></td>
        <% if current_user.author? || current_user.editor? %>
          <td><%= link_to 'Show', story %></td>
          <td><%= link_to 'Edit', edit_story_path(story) %></td>
          <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>

  <% if current_user.admin? %>

    <%= link_to 'Team', teams_path %>

  <% else %>

    <%= link_to 'New Story', new_story_path %>

    <%= link_to 'Your profile', profile_user_path(current_user) %>

    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>

  <% end %>

<% else %>

<%= link_to 'Back', root_path %>

<% end %>

