
<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Part:</strong>
  <%= @story.part %>
</p>

<p>
  <strong>Author:</strong>
  <%= @story.author.full_name %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
